<form action="/user" method="POST" autocomplete="off" style="height:500px;width:600px;">
<div class="main" style="padding-left: 50px;">
<h2 style="padding-bottom:40px;padding-top:20px;">Sing In</h2>
<div class="form-row">
<div class="form-group col-md-6">
	<label>FirstName</label>
	<input type="text" class="form-control" name="firstname" placeholder="FirstName">
</div>
<div class="form-group col-md-6">
	<label>LastName</label>
	<input type="text" class="form-control" name="lastname" placeholder="LastName">
</div>
</div>
<div class="form-group">
	<label>Email</label>
	<input type="text" class="form-control" name="email" placeholder="Email">
</div>
<div class="form-group">
	<label>Password</label>
	<input type="password"class="form-control" name="password" placeholder="Password">
</div>
<div class="form-group">
	<button type="submit" class="btn btn-info"><i class="fa fa-user" style="padding-right:10px;"></i>Submit</button>
</div>
</div>
</form>
